testing/
node_modules/
src/
docs/
site/
tests/

.prettierrc.json
foxfork.json
tsconfig.json
yarn.lock
.eslintignore
.eslintrc.json
.foxfork
.vscode/
.github/
.eslintrc.js
jest.config.js

# Patch generation
.moz-central
patches.sh
